= form_for [@content_category, @content] do |f|
  - if @content.errors.any?
    #error_explanation
      %h2
        = pluralize(@content.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - @content.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :subject
    = f.text_field :subject
  .field
    = render partial: "shared/md_area", locals: { :obj => :content, :atr => :body, :rows => 20 }
  .field
    = f.label :expires_at
    = f.datetime_select :expires_at, :include_blank => true
  .field
    = f.label :show_on_homepage
    = f.check_box :show_on_homepage
  .field
    = f.label :submit
    = f.submit "Submit"
